# Desáfio Hekima: Análise de Dados
<b>Base de Dados:</b> Titanic: Machine Learning from Disaster
<br></br>
<b>Link da base de dados:</b> https://www.kaggle.com/c/titanic/data
<br></br>
<br></br>
A base de dados é distribuída entre as informações dos passageiros usadas para treinamento contidas no arquivo <i>train.csv</i> do modelo de aprendizado de máquina e as usadas para testar o mesmo modelo contidas no arquivo <i>test.csv.</i> No entanto, o uso do arquivo de teste não será necessário, pois os testes serão feitos por meio dos <i>Out-Of-Bag</i> que é muito utilizado com o Random Forest.
<br></br>
<br></br>
Descrição do problema: O modelo preditivo baseado no Random Forest pretende identificar quais as variáveis mais determinantes para a sobrevivência de uma pessoa à tragédia do Titanic. O programa é dividido em três partes:
    1. Limpeza de dados
    2. Criação do modelo
    3. Teste do modelo
    4. Visualização dos resultados finais
    5. Conclusão

In [3]:
#Fazendo as importacoes
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score

import pandas as pd

In [4]:
cvs = pd.read_csv("train.csv")
y = cvs.pop("Survived")

## Limpeza de dados

Na descrição da base de dados, é possível notar que o número de informações referentes a idade é muito inferior aos demais.

In [5]:
cvs.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   14.526497    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   20.125000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%     668.500000    3.000000   38.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

As idades em falta são preenchidas com a média entre todas as idades.

In [6]:
cvs["Age"].fillna(cvs.Age.mean(), inplace=True)

Na descrição abaixo, é possível observar que as informações de Idade que estavam faltando foram preenchidas.

In [7]:
cvs.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean    446.000000    2.308642   29.699118    0.523008    0.381594   32.204208
std     257.353842    0.836071   13.002015    1.102743    0.806057   49.693429
min       1.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%     223.500000    2.000000   22.000000    0.000000    0.000000    7.910400
50%     446.000000    3.000000   29.699118    0.000000    0.000000   14.454200
75%     668.500000    3.000000   35.000000    1.000000    0.000000   31.000000
max     891.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Remoção de variáveis não importantes para a análise.

In [8]:
cvs.drop(["Name", "Ticket", "PassengerId"], axis=1, inplace=True )

Mostrando as primeiras 5 linhas, percebe-se que a variável Cabin pode ser resumida.

In [9]:
cvs.head()

   Pclass     Sex  Age  SibSp  Parch     Fare Cabin Embarked
0       3    male   22      1      0   7.2500   NaN        S
1       1  female   38      1      0  71.2833   C85        C
2       3  female   26      0      0   7.9250   NaN        S
3       1  female   35      1      0  53.1000  C123        S
4       3    male   35      0      0   8.0500   NaN        S

In [10]:
#Metodo usado para simplificar os valores da variavel Cabin
def limpar_cabin(cabine):
    try:
        return cabine[0]
    except TypeError:
        return "N"

cvs["Cabin"] = cvs.Cabin.apply(limpar_cabin)

In [11]:
cvs.Cabin

0      N
1      C
2      N
3      C
4      N
5      N
6      E
7      N
8      N
9      N
10     G
11     C
12     N
13     N
14     N
15     N
16     N
17     N
18     N
19     N
20     N
21     D
22     N
23     A
24     N
25     N
26     N
27     C
28     N
29     N
      ..
861    N
862    D
863    N
864    N
865    N
866    N
867    A
868    N
869    N
870    N
871    D
872    B
873    N
874    N
875    N
876    N
877    N
878    N
879    C
880    N
881    N
882    N
883    N
884    N
885    N
886    N
887    B
888    N
889    C
890    N
Name: Cabin, dtype: object

É necessário eliminar as variáveis categóricas, pois modelos preditivos de regressão não aceitam esse tipo de variável.

In [12]:
variaveis_categoricas = ['Sex', 'Cabin', 'Embarked']

for variavel in variaveis_categoricas:
    #Preenchendo as informacoes em falta
    cvs[variavel].fillna("Missing", inplace=True)
    
    #Transformando os valores categoricos em variaveis binarias
    dummies = pd.get_dummies(cvs[variavel], prefix=variavel)
    
    cvs = pd.concat([cvs, dummies], axis = 1)
    cvs.drop([variavel], axis=1, inplace=True)

## Criação do modelo

In [13]:
#Criacao do modelo. n_estimators diz repeito ao numero de arvores, oob_score se sera' usado o out-of-bag para os testes e random_state e' o numero gerador da aleatoriedade 
modelo = RandomForestRegressor(n_estimators=100, oob_score=True, random_state=42)

In [14]:
#Criando as arvores de decisao
modelo.fit(cvs, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
           oob_score=True, random_state=42, verbose=0, warm_start=False)

## Teste do modelo

In [15]:
#Pontuacao dos testes da base de dados feitos com o Out-Of-Bag
modelo.oob_score_

0.40819643669681083

In [17]:
#Comparando os resultados com a resposta
contador = 0.0
for i in range(len(modelo.oob_prediction_)):
    if modelo.oob_prediction_[i] >= 0.5:
        predicao = 1
    else:
        predicao = 0
    if predicao==y[i]:
        contador=contador+1

valor = contador/len(y)
print "Qualidade do modelo: ", valor

Qualidade do modelo:  0.812570145903

## Visualização dos resultados finais

In [18]:
#Variaveis importantes para determinar se a pessoa sera' uma sobrevivente da tragedia do Titanic
modelo.feature_importances_

array([  9.11384671e-02,   2.38891052e-01,   4.43567267e-02,
         2.15831071e-02,   2.15047796e-01,   1.43423437e-01,
         1.58822440e-01,   2.95342368e-03,   3.79055011e-03,
         6.47116172e-03,   4.30998991e-03,   8.59480266e-03,
         1.02403226e-03,   8.12054428e-04,   2.67741854e-02,
         6.64265010e-05,   1.06189189e-02,   0.00000000e+00,
         6.00379221e-03,   1.53176370e-02])

In [19]:
#Organizando as caracteristicas importantes para melhor visualizacao
f_importance = pd.Series(modelo.feature_importances_, index=cvs.columns)
f_importance.sort_values(inplace=True)
f_importance.plot(kind="barh", figsize = (8,7));

## Conclusão
Portanto, é possível observar que a Idade e o valor pago são as variáveis mais determinantes para identificar se a pessoa será uma sobrevivente ou não da tragédia do Titanic.